*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

button {
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'League Spartan', sans-serif !important;
	min-height: 100dvh;
}

:root {
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);

	--gray: hsl(0, 0%, 63%);
	--dark-gray: hsl(0, 0%, 27%);
}

header {
	position: fixed;
	inset-inline: 0;

	padding: 2rem 3.5rem;
}

/* Navigation */
nav {
	--link-padding: 0.5rem;

	display: flex;
	align-items: center;
	gap: 3rem;

	text-transform: lowercase;
}

nav .burger {
	display: none;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

nav a {
	color: var(--white);

	display: block;
	padding: var(--link-padding);

	font-size: 20px;
	position: relative;
}

nav a::before {
	content: '';

	position: absolute;
	bottom: 0;

	width: 0;
	height: 2px;

	background-color: var(--white);

	transition: all 250ms;
}

nav a:hover::before,
nav a:focus-visible::before {
	width: calc(100% - (var(--link-padding) * 2));
}

nav .logo a {
	font-size: 22px;

	transition: all 250ms;
}

nav .logo h1 {
	font-weight: 400;
}

nav .logo a::before {
	display: none;
}

nav .logo a:hover,
nav .logo a:focus-visible {
	color: var(--dark-gray);
}

/* Main Content */
main {
	--discover-h: 65dvh;
	--about-h: calc(100dvh - var(--discover-h));
}

main img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.discover {
	display: grid;
	grid-template-columns: 6fr 4fr;
	height: var(--discover-h);
}

.discover .furniture,
.about :is(.dark, .light) {
	height: inherit;
}

.about {
	display: grid;
	grid-template-columns: 3fr 4fr 3fr;
	height: var(--about-h);
}

@media screen and (max-width: 1000px) {
	.discover,
	.about {
		height: auto;
	}

	.discover .furniture,
	.about :is(.dark, .light) {
		height: 100%;
	}

	.discover {
		grid-template-columns: 1fr;
	}

	.about {
		grid-template-columns: repeat(2, 1fr);
	}
	.about article {
		order: -1;
		grid-column: 1 / -1;
	}

	.about .dark {
		grid-column: 1 / 2;
	}

	.about .light {
		grid-column: 2 / 3;
	}
}

@media screen and (max-width: 650px) {
	/* Navigation */
	nav {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr;
		gap: 0;
	}
	nav ul {
		display: none;
	}

	nav .burger {
		grid-row: 1 / -1;
		grid-column: 1 / 2;
		display: block;
		order: -1;
	}

	nav .logo {
		grid-column: 1 / -1;
		grid-row: 1 / -1;

		display: grid;
		place-items: center;
	}

	/* Main Content */
	.about .dark {
		order: 0;
	}

	.about article {
		order: 1;
	}

	.about .light {
		order: 2;
	}

	.about :is(.dark, .light) {
		grid-column: 1 / -1;
	}
}
